<div class="home" >
    <div class="logo">
        <img src="../../../assets/logo.png" alt="">
        <span></span>
    </div>
    <div class="content">
        <div class="about-right">
            <div class="contenedor-texto">
                <div class="title">Bienvenidos!</div>
                <h5>En este sitio web podrás realizar una simulacion por fechas de como se visualiza la contaminacion en la ciudad
                    de Medellín Colombia, también podrás elegir las fechas especificas a visualizar y como está clasificada la calidad
                    del aire en ese lugar.
                </h5>
            </div>
        </div>
        <div class="contenedor-about-left">
            <div class="about-left">
                <div class="circle"></div>
                <div class="about-body">
                    <img src="../../../assets/body.png" alt="body">
                </div>
                <div class="about-me">
                    <img src="../../../assets/head.png" class="head">
                </div>
            </div>
        </div>
        
    </div>
</div>